name: Build Patient Service (Maven)

on:
  push:
    branches:
      - main
    paths:
      - "patient-service/**"

  pull_request:
    branches:
      - main
    paths:
      - "patient-service/**"

jobs:
  build:
    runs-on: self-hosted

    steps:

    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn -f patient-service/pom.xml clean package -DskipTests
